
<ion-view view-title="Add Recency Test {{unSyncCount}}">
        <header class="row recency-tab" >
                <button id="main-recency" class="col button recency-head " ng-click="setmainactive();">Section 1/2
                     <span ng-show="showRecencyTick" class="tickMark"><i class="icon ion-checkmark"></i></span>
                    </button>
                <button id="other-recency" class="col button recency-head" ng-click="patientvalidation();">Section 2/2
                    <span ng-show="showBehaviourTick" class="tickMark"><i class="icon ion-checkmark"></i></span>
                </button>
            </header>
<div class="RecencyForm">        
  <ion-content style="top:0!important;bottom: 100px;">
 
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>

    <div class="loginFields">
        <div class="row">
        <form class="col loginForm" name="addform" ng-init="recencyinit()">
            <div ng-show="recencydisplay">    
                  <div class="row">
                      <div class="input-field col "> 
                            <span class="input-label item-stacked-label" style="margin-bottom: -30px;">
                                    <p>Sample ID<span ng-repeat="mandatory in mandatoryData" ng-if="mandatory=='sampleId'"  style="color:#df3838;"> *</span></p>
                                </span>  
                       <div class="form-logo"><img src="img/lab.png"></div> 
                          <input id="sampleId" type="text" class="sampleId" name="sampleId" title="Please Enter Sample ID" ng-model='recency.sampleId' placeholder="Sample ID" > 
                      </div>  
                  </div>
            
                  <div class="row">     
                      <div class="input-field col ">
                            <span class="input-label item-stacked-label" style="margin-bottom: -30px;">
                                    <p>Patient ID<span ng-repeat="mandatory in mandatoryData" ng-if="mandatory=='patientId'"  style="color:#df3838;"> *</span></p>
                                </span>
                          <div class="form-logo"><img src="img/id-card.png"></div> 
                          <input id="patientId" type="text" name ="patientId" class="patientId"  title="Please Enter Patient ID" ng-model='recency.patientId' placeholder="Patient ID" >
                         
                        </div>
                  </div>
  
                    <div class="row">
                        <div class="input-field col ">
                              <span class="input-label item-stacked-label" style="margin-bottom: -30px;">
                                      <p>Facility<span ng-repeat="mandatory in mandatoryData" ng-if="mandatory=='facilityId'"  style="color:#df3838;"> *</span></p>
                                  </span>
                            <div class="form-logo "><img src="img/facility.png"></div> 
                                <!-- <select id="facilityId" name="facilityId" ng-model="recency.facilityId" title="Please Choose Facility" ng-options="facility.facility_id as facility.facility_name for facility in facilityData track by facility.facility_id"
                                ng-change="checkotherfacility();"  >
                                <option value="">-- Select --</option>
                            </select> -->
                            <select class="ng-valid" id="facilityId"  name="facilityId"  title="Please Choose Facility" ng-model="recency.facilityId" ng-change="checkotherfacility()">
                                <option value="">-- Select --</option>
                                <option ng-repeat="facility in facilityData" value="{{facility['facility_id']}}">{{facility['facility_name']| underscorefilter}}</option>
                              </select>    
                        </div>
                    </div>
                    <div class="row" ng-show="showotherfacility">
                        <div class="input-field col ">
                              <span class="input-label item-stacked-label" style="margin-bottom: -30px;">
                                      <p>Other Facility <span ng-repeat="mandatory in mandatoryData" ng-if="mandatory=='facilityId'" style="color:#df3838;"> *</span></p>
                                  </span>
                            <div class="form-logo"><img src="img/population.png"></div> 
                            <input id="otherfacility" type="text" class="otherfacility" name="otherfacility"  ng-model="recency.otherfacility" placeholder="Other Facility" >
                           
                        </div>
                    </div>
                <div class="card" style="margin-top:0;">

                        <h4 style="font-size: 14px;margin-left: 12px;margin-bottom: 0;font-weight: bold;">Client Location</h4>
                    <div class="row" ng-repeat="loc in configdata">
                        <div class="input-field col ">
                              <span class="input-label item-stacked-label" style="margin-bottom: -30px;">
                                      <p>{{loc.global_value}}<span ng-repeat="mandatory in mandatoryData" ng-if="mandatory==loc.global_name" style="color:#df3838;"> *</span> </p>
                              </span>
                            <div class="form-logo date-img"><img src="img/house.png"></div> 
                            <select id="{{loc.global_name}}"  ng-if="loc.global_name=='location_one'" name="{{loc.global_name}}" title="Please Choose {{loc.global_value}}" ng-model='recency.location[0]' ng-options="province.province_id as province.province_name for province in provinceData track by province.province_id"
                                  ng-change="GetDistrictValue(recency.location[0])"  >
                                    <option value="">-- Select --</option>
                            </select>
                            <select id="{{loc.global_name}}" ng-if="loc.global_name=='location_two'" name="{{loc.global_name}}"  title="Please Choose {{loc.global_value}}" ng-model='recency.location[1]' ng-options="district.district_id as district.district_name for district in districtData track by district.district_id"
                                    ng-change="GetCityValue(recency.location[1])"  >
                                    <option value="">-- Select --</option>
                            </select>
                            <select id="{{loc.global_name}}" ng-if="loc.global_name=='location_three'" name="{{loc.global_name}}"   title="Please Choose {{loc.global_value}}" ng-model='recency.location[2]' ng-options="city.city_id as city.city_name for city in cityData track by city.city_id"   >
                                     <option value="">-- Select --</option>
                            </select>                      
                        </div>
                    </div>
             </div>
             <div class="card" style="margin-top:0;margin-bottom: 0;">
                    <h4 style="font-size: 14px;margin-left: 12px;margin-bottom: 0;font-weight: bold;">HIV Diagnosis Test</h4>
                  <div class="row">
                      <div class="input-field col col-90">
                            <span class="input-label item-stacked-label" style="margin-bottom: -30px;">
                                    <p>HIV+ Diag Date<span ng-repeat="mandatory in mandatoryData" ng-if="mandatory=='hivDiagnosisDate'"  style="color:#df3838;"> *</span></p>
                                </span>
                          <div class="form-logo date-img"><img src="img/date.png"></div> 
                          <input id="hivDiagnosisDate" type="text" class="hivDiagnosisDate" name="hivDiagnosisDate" title="Please Enter HIV+ Diagnosis Date"  ng-click="setDiagDate()" ng-model='recency.hivDiagnosisDate' placeholder="HIV+ Diag Date" readonly required>
                      </div>
                      <div class="input-field col " style="padding:0">
                        <div class="form-logo date-img" style="padding-left: 0;cursor:pointer;" ng-click="recency.hivDiagnosisDate =''"><img src="img/clear.png" style="height: 26px;"></div> 
                       </div>
                  </div>
                  <div class="row">
                    <div class="input-field col ">
                          <span class="input-label item-stacked-label" style="margin-bottom: -30px;">
                                  <p>Past HIV Testing<span ng-repeat="mandatory in mandatoryData" ng-if="mandatory=='pastHivTesting'" style="color:#df3838;"> *</span></p>
                              </span>
                        <div class="form-logo "><img src="img/hiv-test.png"></div> 
                        <select class="ng-valid" id="pastHivTesting" name="pastHivTesting" title="Please Choose Past HIV Testing" ng-model="recency.pastHivTesting">
                                <option value="">-- Select --</option>
                                <option value="yes">Yes</option> 
                                <option value="no">No</option>
                                <option value="not_known">Not Known</option>
                        </select>                               
                    </div>
                </div>
                <div class="row" ng-if="recency.pastHivTesting=='yes' || recency.pastHivTesting==''">
                    <div class="input-field col " >
                          <span class="input-label item-stacked-label" style="margin-bottom: -30px;">
                                  <p>Tested in last 12Months<span ng-repeat="mandatory in mandatoryData" ng-if="mandatory=='testLast12Month'" style="color:#df3838;"> *</span></p>
                              </span>
                        <div class="form-logo "><img src="img/testtime.png"></div> 
                        <select class="ng-valid" id="testLast12Month" name="testLast12Month" title="Please Choose Tested in last 12Months" ng-model="recency.testLast12Month">
                                <option value="">-- Select --</option>
                                <option value="yes">Yes</option> 
                                <option value="no">No</option>
                                <option value="not_known">Not Known</option>
                        </select>                               
                    </div>
                </div>
                <div class="row" ng-if="recency.pastHivTesting=='yes'">
                    <div class="input-field col ">
                          <span class="input-label item-stacked-label" style="margin-bottom: -30px;">
                                  <p>What was the Last HIV Status?<span ng-repeat="mandatory in mandatoryData" ng-if="mandatory=='pastHivTesting'" style="color:#df3838;"> *</span></p>
                              </span>
                        <div class="form-logo "><img src="img/hiv-test.png"></div> 
                        <select class="ng-valid" id="lastHivStatus" name="lastHivStatus" title="Please Choose Last HIV Status" ng-model="recency.lastHivStatus">
                                <option value="">-- Select --</option>
                                <option value="positive">Positive</option> 
                                <option value="negative">Negative</option>
                              </select>                               
                    </div>
                </div>
                <div class="row" ng-if="recency.lastHivStatus=='positive' && recency.pastHivTesting=='yes'">
                    <div class="input-field col ">
                          <span class="input-label item-stacked-label" style="margin-bottom: -30px;">
                                  <p>Is the Patient on ART ?<span ng-repeat="mandatory in mandatoryData" ng-if="mandatory=='pastHivTesting'" style="color:#df3838;"> *</span></p>
                              </span>
                        <div class="form-logo "><img src="img/hiv-test.png"></div> 
                        <select class="ng-valid" id="patientOnArt" name="patientOnArt" title="Please Choose whether the Patient on ART" ng-model="recency.patientOnArt">
                                <option value="">-- Select --</option>
                                <option value="yes">Yes</option> 
                                <option value="no">No</option>
                              </select>                               
                    </div>
                </div>
                </div>
                <div class="row">
                    <div class="input-field col ">
                        <ion-list >
                            <ion-checkbox style="padding-top: 16px;" ng-model="recency.testNotPerformed" >Recency Test not Performed</ion-checkbox>
                          </ion-list>                              
                    </div>
                </div>
                <div class="row" ng-if="recency.testNotPerformed==true">
                    <div class="input-field col ">
                            <span class="input-label item-stacked-label" style="margin-bottom: -30px;">
                                <p>Reason of Rec.Test Not Performed<span style="color:#df3838;"> *</span></p>
                            </span>
                            <div class="form-logo"><img src="img/recencyresult.png"></div> 
                         <select class="ng-valid" id="recencyreason" name="recencyreason" ng-model="recency.recencyreason"
                          title="Please Choose Reason of Recency Test Not Performed" ng-change="getReasonName(recency.recencyreason)">
                           <option value="">-- Select --</option>
                           <option value="no_consent_from_the_client">No consent from the Client</option>
                           <option value="sample_was_not_collected">Sample was not collected (Phlebotomy failure)</option>
                           <option value="not_newly_diagnosed">Not Newly Diagnosed</option>
                           <option value="other">Other, Please Specify</option>
                        </select>  
                     </div>
                 </div>
                <div class="row" ng-if="recency.testNotPerformed==true && recency.recencyreason=='other'">
                    <div class="input-field col ">
                          <span class="input-label item-stacked-label" style="margin-bottom: -30px;">
                            <p>Other Reasons<span  style="color:#df3838;"> *</span></p>
                              </span>
                        <div class="form-logo"><img src="img/population.png"></div> 
                        <input id="otherreason" type="text" class="otherreason" name="otherreason" ng-model="recency.otherreason" placeholder="Other Reason"  >
                       
                    </div>
                </div>
                <div class="card" style="margin-top:0;margin-bottom: 0;" ng-if="recency.testNotPerformed!=true">

                <h4 style="font-size: 14px;margin-left: 12px;margin-bottom: 0;font-weight: bold;">Recency Test Result</h4>
                  <div class="row" ng-if="recency.testNotPerformed!=true">
                      <div class="input-field col col-90">
                            <span class="input-label item-stacked-label" style="margin-bottom: -30px;">
                                    <p>HIV+ Recency Date<span ng-repeat="mandatory in mandatoryData" ng-if="mandatory=='hivRecencyDate'" style="color:#df3838;"> *</span></p>
                                </span>
                          <div class="form-logo date-img"><img src="img/date.png"></div> 
                          <input id="hivRecencyDate" type="text" class="hivRecencyDate" name="hivRecencyDate" title="Please Enter HIV+ Recency Date" ng-click="setRecencyDate()"  ng-model='recency.hivRecencyDate' placeholder="HIV+ Recency Date" readonly required>
                         
                      </div>
                      <div class="input-field col " style="padding:0">
                        <div class="form-logo date-img" style="padding-left: 0;cursor:pointer;" ng-click="recency.hivRecencyDate =''"><img src="img/clear.png" style="height: 26px;"></div> 
                       </div>
                  </div>
                  <div class="row" ng-if="recency.testNotPerformed!=true">
                     <div class="input-field col ">
                             <span class="input-label item-stacked-label" style="margin-bottom: -30px;">
                                    <p>Control Line<span ng-repeat="mandatory in mandatoryData" ng-if="mandatory=='ctrlLine'" style="color:#df3838;"> *</span></p>
                             </span>
                             <div class="form-logo"><img src="img/recencyresult.png"></div> 
                          <select class="ng-valid" id="ctrlLine" name="ctrlLine" ng-model="recency.ctrlLine" title="Please Choose Control Line" ng-change="getOutcome(recency.ctrlLine,recency.positiveLine,recency.longTermLine)">
                            <option value="">-- Select --</option>
                            <option value="present">Present(Positive/P)</option>
                            <option value="absent">Absent(Negative/N)</option>
                         </select>  
                      </div>
                  </div>
                  <div class="row" ng-if="recency.testNotPerformed!=true">
                    <div class="input-field col ">
                          <span class="input-label item-stacked-label" style="margin-bottom: -30px;">
                                  <p>Positive Verification Line<span ng-repeat="mandatory in mandatoryData" ng-if="mandatory=='positiveLine'" style="color:#df3838;"> *</span></p>
                          </span>
                        <div class="form-logo"><img src="img/recencyresult.png"></div> 
                        <select class="ng-valid" id="positiveLine" name="positiveLine" title="Please Choose Positive Verification Line" ng-model="recency.positiveLine" ng-change="OnPositiveLineChange(recency.positiveLine);getOutcome(recency.ctrlLine,recency.positiveLine,recency.longTermLine)" >
                          <option value="">-- Select --</option>
                          <option value="present">Present(Positive/P)</option>
                          <option value="absent">Absent(Negative/N)</option>
                       </select>   
                    </div>
                </div> 
                <div class="row" ng-if="recency.testNotPerformed!=true">
                    <div class="input-field col ">
                          <span class="input-label item-stacked-label" style="margin-bottom: -30px;">
                                  <p>Long Term Line<span ng-repeat="mandatory in mandatoryData" ng-if="mandatory=='longTermLine'" style="color:#df3838;"> *</span></p>
                          </span>
                        <div class="form-logo"><img src="img/recencyresult.png"></div> 
                        <select class="ng-valid" id="longTermLine" name="longTermLine" title="Please Choose LongTerm Line" ng-model="recency.longTermLine" ng-change="getOutcome(recency.ctrlLine,recency.positiveLine,recency.longTermLine)" >
                          <option value="">-- Select --</option>
                          <option value="present">Present(Long Term/LT)</option>
                          <option value="absent">Absent(Recent/R)</option>

                       </select> 
                    </div>
                </div>
                <div class="row" ng-if="recency.testNotPerformed!=true">
                    <div class=" input-field col">
                        <span ng-if="outcomered==true">Outcome:    <span class="outcome" style="margin-left: 10px;color:red;" >{{recency.recencyOutcome}}  </span></span> 
                        <span ng-if="outcomeblack==true">Outcome:    <span class="outcome" style="margin-left: 10px;color:#000;" >{{recency.recencyOutcome}}  </span></span> 
                            
                    </div>
                 </div> 
                </div>
                <!-- <div class="row">
                    <div class="input-field col "> 
                          <span class="input-label item-stacked-label" style="margin-bottom: -30px;">
                                  <p>Test Kit Lot Number<span ng-repeat="mandatory in mandatoryData" ng-if="mandatory=='testKitLotNo'"  style="color:#df3838;"> *</span></p>
                              </span>  
                     <div class="form-logo"><img src="img/lab.png"></div> 
                        <input id="testKitLotNo" type="text" class="testKitLotNo" name="testKitLotNo" title="Please Enter Test Kit Lot Number" ng-keyup="testKitLotAutoComplete()" ng-model='recency.testKitLotNo' placeholder="Test Kit Lot Number" > 
                        <input  type="hidden" id="testKitLotAvailability" />
                    </div>  
                </div> -->
            
                <div class="row">
                    <div class="input-field col ">
                          <span class="input-label item-stacked-label" style="margin-bottom: -30px;">
                            <p>Test Kit Lot Number<span ng-repeat="mandatory in mandatoryData" ng-if="mandatory=='testKitLotNo'"  style="color:#df3838;"> *</span></p>
                              </span>
                        <div class="form-logo "><img src="img/lab.png"></div> 
                        <select class="ng-valid" id="testKitLotNo"  name="testKitLotNo"  title="Please Enter Test Kit Lot Number" ng-model="recency.testKitLotNo" ng-change="getTestKitExpDate(recency.testKitLotNo)">
                                <option value="">-- Select --</option>
                                <option ng-repeat="lot in TestKitLotList" value="{{lot['testKitLotNo']}}">{{lot['testKitLotNo']}}</option>
                        </select>   
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col">
                          <span class="input-label item-stacked-label" style="margin-bottom: -30px;">
                                  <p>Test Kit Expiry Date<span ng-repeat="mandatory in mandatoryData" ng-if="mandatory=='testKitExpDate'"  style="color:#df3838;"> *</span></p>
                              </span>
                        <div class="form-logo date-img"><img src="img/date.png"></div> 
                        <input id="testKitExpDate" type="text" class="testKitExpDate" name="testKitExpDate" title="Please Enter Test Kit Expiry Date" ng-model="recency.testKitExpDate"   placeholder="Test Kit Expiry Date" readonly >
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col ">
                          <span class="input-label item-stacked-label" style="margin-bottom: -30px;">
                            <p>Tester Name<span ng-repeat="mandatory in mandatoryData" ng-if="mandatory=='testerName'"  style="color:#df3838;"> *</span></p>
                              </span>
                        <div class="form-logo "><img src="img/doctor.png"></div> 
                        <select class="ng-valid" id="testerName"  name="testerName"  title="Please Enter Tester Name" ng-model="recency.testerName">
                                <option value="">-- Select --</option>
                                <option ng-repeat="test in TesterNameList" value="{{test['testerName']}}">{{test['testerName']}}</option>
                        </select>   
                    </div>
                </div>
    
                <!-- <div class="row">
                    <div class="input-field col "> 
                          <span class="input-label item-stacked-label" style="margin-bottom: -30px;">
                                  <p>Tester Name<span ng-repeat="mandatory in mandatoryData" ng-if="mandatory=='testerName'"  style="color:#df3838;"> *</span></p>
                          </span>  
                     <div class="form-logo"><img src="img/lab.png"></div> 
                        <input id="testerName" type="text" class="testerName" name="testerName" title="Please Enter Tester Name" ng-model='recency.testerName' placeholder="Tester Name" ng-keyup="testerNameAutoComplete()"> 
                        <input  type="hidden" id="testerNameId" />
                        <input  type="hidden" id="testerNameAvailability" />
                    </div>  
                </div> -->

                <div class="row" >
                    <div class="input-field col ">
                        <button class="button button-block  icon-right ion-chevron-right button-calm waves-effect waves-light" style="background:#3592f0 !important;" type="button"
                        ng-click="patientvalidation();">  
                           NEXT
                        </button>
                    </div>
                  </div>
       
            </div>
            <div ng-hide="recencydisplay"> 
                    <div class="row">
                            <div class="input-field col col-90">
                                  <span class="input-label item-stacked-label" style="margin-bottom: -30px;">
                                        <p>Date Of Birth<span ng-repeat="mandatory in mandatoryData" ng-if="mandatory=='dob'" style="color:#df3838;"> *</span></p>
                                      </span>
                                <div class="form-logo date-img"><img src="img/date.png"></div> 
                                <input id="dob" type="text" class="dob" name="dob" title="Please Choose Date Of Birth" ng-model='recency.dob' ng-click="setDob()"  placeholder="DOB"  readonly required>                           
                            </div>
                            <div class="input-field col " style="padding:0">
                                <div class="form-logo date-img" style="padding-left: 0;cursor:pointer;" ng-click="recency.dob =''"><img src="img/clear.png" style="height: 26px;"></div> 
    
                            </div>
                        </div>
                        <div class="row">
                                <div class="input-field col ">
                                      <span class="input-label item-stacked-label" style="margin-bottom: -30px;">
                                              <p>Age in Years<span ng-repeat="mandatory in mandatoryData" ng-if="mandatory=='age'" style="color:#df3838;"> *</span></p>
                                          </span>
                                    <div class="form-logo date-img"><img src="img/date.png"></div> 
                                    <input id="age" type="number" class="age" name="age" title="Please Enter Age" ng-model='recency.age' placeholder="Age" ng-change="cleardob(recency.age)"  >
                                   
                                </div>
                        </div>
    
                      <div class="row">
                         <div class="input-field col ">
                            <span class="input-label item-stacked-label" style="margin-bottom: -30px;">
                                    <p>Gender<span ng-repeat="mandatory in mandatoryData" ng-if="mandatory=='gender'" style="color:#df3838;"> *</span></p>
                            </span>
                             <div class="form-logo "><img src="img/martial_status.png"></div> 
                               <select class="ng-valid" id="gender" name="gender" title="Please Choose Gender" ng-model="recency.gender" >
                                  <option value="">-- Select --</option>
                                  <option value="male">Male</option>
                                  <option value="female">Female</option>
                                  <option value="not_reported">Not Reported</option>
                               </select>                               
                        </div>
                      </div>
                  <div class="row">
                        <div class="input-field col ">
                              <span class="input-label item-stacked-label" style="margin-bottom: -30px;">
                                      <p>Marital Status<span ng-repeat="mandatory in mandatoryData" ng-if="mandatory=='maritalStatus'" style="color:#df3838;"> *</span></p>
                                  </span>
                            <div class="form-logo "><img src="img/martial_status.png"></div> 
                            <select class="ng-valid" id="maritalStatus"  name="maritalStatus" title="Please Choose Marital Status" ng-model="recency.maritalStatus">
                                    <option value="">-- Select --</option>
                                    <option value="never_married">Never Married</option>
                                <option value="married_cohabited">Married - Cohabited</option>
                                <option value="married_cohabiting">Married Cohabiting</option>
                                <option value="widow">Widow</option>
                                <option value="divorce_separated">Divorce - Separated</option>
                            </select>                               
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col ">
                              <span class="input-label item-stacked-label" style="margin-bottom: -30px;">
                                      <p>Residence<span ng-repeat="mandatory in mandatoryData" ng-if="mandatory=='residence'" style="color:#df3838;"> *</span></p>
                                  </span>
                            <div class="form-logo "><img src="img/house.png"></div> 
                            <select class="ng-valid" id="residence" name="residence" title="Please Choose Residence"  ng-model="recency.residence" >
                                    <option value="">-- Select --</option>
                                    <option value="urban">Urban</option> 
                                    <option value="rural">Rural</option>
                                  </select>                               
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col ">
                              <span class="input-label item-stacked-label" style="margin-bottom: -30px;">
                                      <p>Education Level<span ng-repeat="mandatory in mandatoryData" ng-if="mandatory=='educationLevel'" style="color:#df3838;"> *</span></p>
                                  </span>
                            <div class="form-logo "><img src="img/education.png"></div> 
                            <select class="ng-valid" id="educationLevel" name="educationLevel" title="Please Choose Education Level" ng-model="recency.educationLevel">
                                    <option value="">-- Select --</option>
                                    <option value="primary">Primary</option> 
                                    <option value="secondary">Secondary</option> 
                                    <option value="university_or_higher">University Or Higher</option>
                             
                                  </select>                               
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col ">
                              <span class="input-label item-stacked-label" style="margin-bottom: -30px;">
                                      <p>Risk Population/s<span ng-repeat="mandatory in mandatoryData" ng-if="mandatory=='riskPopulation'" style="color:#df3838;"> *</span></p>
                                  </span>
                            <div class="form-logo "><img src="img/population.png"></div> 
                            <select class="ng-valid" id="riskPopulation"  name="riskPopulation"  title="Please Choose Risk Population/s" ng-model="recency.riskPopulation" ng-change="checkriskpopulation()">
                                    <option value="">-- Select --</option>
                                    <option ng-repeat="rp in riskpopulations" value="{{rp['rp_id']}}">{{rp['name']| underscorefilter}}</option>
                                  </select>                               
                        </div>
                    </div>
                    <div class="row" ng-show="otherpopulation">
                        <div class="input-field col ">
                              <span class="input-label item-stacked-label" style="margin-bottom: -30px;">
                                      <p>Other Risk Population<span ng-repeat="mandatory in mandatoryData" ng-if="mandatory=='riskPopulation'" style="color:#df3838;"> *</span></p>
                                  </span>
                            <div class="form-logo"><img src="img/population.png"></div> 
                            <input id="otherriskPopulation" type="text" class="otherriskPopulation" name="otherriskPopulation"  ng-model="recency.otherriskPopulation" placeholder="Other Risk Population"  required>
                           
                        </div>
                    </div>
                     <div class="row" ng-if="recency.gender!='male'">
                        <div class="input-field col ">
                              <span class="input-label item-stacked-label" style="margin-bottom: -30px;">
                                      <p>Pregnancy Status<span ng-repeat="mandatory in mandatoryData" ng-if="mandatory=='pregnancyStatus'" style="color:#df3838;"> *</span></p>
                                  </span>
                            <div class="form-logo "><img src="img/pregnancy-test.png"></div> 
                            <select class="ng-valid" id="pregnancyStatus" name="pregnancyStatus" title="Please Choose Pregnancy Status" ng-model="recency.pregnancyStatus">
                                    <option value="">-- Select --</option>
                                    <option value="currently_pregnant">Currently Pregnant</option> 
                                    <option value="not_pregnant">Not Pregnant</option>
                                    <option value="not_known">Not Known</option>
                            </select>                               
                        </div>
                    </div>
                     <div class="row">
                        <div class="input-field col ">
                              <span class="input-label item-stacked-label" style="margin-bottom: -30px;">
                                      <p>Current Sexual Partners<span ng-repeat="mandatory in mandatoryData" ng-if="mandatory=='currentSexualPartner'" style="color:#df3838;"> *</span></p>
                                  </span>
                            <div class="form-logo "><img src="img/gender.png"></div> 
                            <select class="ng-valid" id="currentSexualPartner"  name="currentSexualPartner" title="Please Choose Current Sexual Partner" ng-model="recency.currentSexualPartner">
                                    <option value="">-- Select --</option>
                                    <option value="1">1</option> 
                                    <option value="2_3">2-3</option>
                                    <option value=">3"> >3</option>
                            </select>                               
                        </div>
                    </div> 
                   
                    <div class="row">
                            <div class="input-field col ">
                                  <span class="input-label item-stacked-label" style="margin-bottom: -30px;">
                                          <p>Experienced violence in last 12Months<span ng-repeat="mandatory in mandatoryData" ng-if="mandatory=='violenceLast12Month'" style="color:#df3838;"> *</span></p>
                                      </span>
                                <div class="form-logo "><img src="img/testtime.png"></div> 
                                <select class="ng-valid" id="violenceLast12Month" name="violenceLast12Month" title="Please Choose Experienced violence in last 12Months" ng-model="recency.violenceLast12Month">
                                        <option value="">-- Select --</option>
                                        <option value="yes">Yes</option> 
                                        <option value="no">No</option>
                                        <option value="not_known">Don't Know</option>
                                </select>                               
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col "> 
                                  <span class="input-label item-stacked-label" style="margin-bottom: -30px;">
                                          <p>Notes<span ng-repeat="mandatory in mandatoryData" ng-if="mandatory=='notes'"  style="color:#df3838;"> *</span></p>
                                      </span>  
                             <div class="form-logo"><img src="img/notes.png"></div> 
                             <textarea id="notes" name="notes" title="Please Enter Notes" style="height: auto" rows=2  ng-model="recency.notes"></textarea>

                            </div>  
                        </div>
                    <div class="row">
                        <div class=" input-field col">
                           <p style="margin-left: 10px;font-size: 13px;" ng-show="giserror">GIS Information is Not Available</p>
                               
                            <p style="margin-left: 10px;font-size: 12px;" ng-show="gis"> Latitude : &nbsp;{{recency.latitude}} &nbsp;&nbsp;Longitude:&nbsp;{{recency.longitude}}</p>
                        </div>
                     </div> 
               </div>  
             
                  <div class="row" ng-hide="recencydisplay">
                        <div class="input-field col ">
                                <button class="button button-block  icon-left ion-chevron-left waves-effect waves-light" style="background: #3592f0 !important;font-size: 15px;" type="button"
                                   ng-click="behaviourValidation();">
                                  PREVIOUS
                                </button>
                            </div>
                      <div class="input-field col savebtn ">
                          <button class="button button-block waves-effect waves-light" type="submit"
                             ng-click="addRecency()">
                             SAVE & CONTINUE
                          </button>
                      </div>
                    </div>

              </form>
        
           
          </div>
      </div>
  </ion-content>
  </div>
</ion-view>
