
<ion-view view-title="Edit Lot Information">
      
    <ion-content >
        <div class="RecencyForm">  
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
    
    <div class="loginFields">
        <div class="row">
        <form class="col loginForm" name="editLot" >
            <div >    
                <div class="row">
                    <div class="input-field col "> 
                          <span class="input-label item-stacked-label" style="margin-bottom: -30px;">
                                  <p>Test Kit Lot Number</p>
                              </span>  
                     <div class="form-logo"><img src="img/lab.png"></div> 
                        <input id="testKitLotNo" type="text" class="testKitLotNo" name="testKitLotNo" title="Please Enter Test Kit Lot Number" ng-model='qcLotKit.testKitLotNo' placeholder="Test Kit Lot Number" > 
                    </div>  
                </div>
                <div class="row">
                    <div class="input-field col col-90">
                          <span class="input-label item-stacked-label" style="margin-bottom: -30px;">
                                  <p>Test Kit Expiry Date</p>
                              </span>
                        <div class="form-logo date-img"><img src="img/date.png"></div> 
                        <input id="testKitExpDate" type="text" class="testKitExpDate" name="testKitExpDate" title="Please Enter Test Kit Expiry Date"  ng-click="setTestKitExpDate()" ng-model='qcLotKit.testKitExpDate' placeholder="Test Kit Expiry Date"  required>
                    </div>
                    <div class="input-field col " style="padding:0">
                      <div class="form-logo date-img" style="padding-left: 0;cursor:pointer;" ng-click="qcLotKit.testKitExpDate =''"><img src="img/clear.png" style="height: 26px;"></div> 
                     </div>
                </div>
                <div class="row">
                    <div class="toggle-div">    
                        <div class="input-field col col-60" style="height: 100%;width:100%"> 
                            <span class="input-label item-stacked-label" style="margin-bottom: -30px;">
                                <p style="margin-left: 10px;">Available</p>
                            </span>
    
                        </div> 
                        <div class="col col-40" style="float:right;margin-top: -25px;">
                            <h6 ng-if="qcLotKit.available" style="float: left;padding:14px;padding-bottom:0;">Yes</h6> 
                            <h6 ng-if="!qcLotKit.available" style="float: left;padding:14px;padding-bottom:0;">No</h6> 
                                <label class = "toggle" style="float: left;margin-top: 8px;">
                                    <input type = "checkbox" ng-init="qcLotKit.available=true" ng-model="qcLotKit.available" />
                                    <div class = "track">
                                        <div class = "handle"></div>
                                    </div>
                                </label>
                        </div>
                    </div>   
                </div> 
                <div class="row" >
                    <div class="input-field col savebtn ">
                        <button class="button button-block waves-effect waves-light" type="submit"
                           ng-click="updateLotKit()">
                           SAVE
                        </button>
                    </div>
                  </div>
            </div>
              </form>
          </div>
      </div>
    </ion-content>
    </div>
    </ion-view>