<ion-view view-title="Recency Result With VL" >
    <div class="backgroundimg" ng-show="showauth" >
        <div class="authWrapper">
            <div class="container" >
              <ion-content >
                <!-- <div class="logo"> <img src="img/icon.png" alt=""></div> -->
                <div class="loginFields">
                    <div class="row">
                      <form class="col loginForm" name="loginForm" >
                   
                            <div class="row">
                                <div class="input-field col ">
                                    <input id="email" type="email" name ="email" class="userName" ng-model='loginData.email' placeholder="abc@deforay.com" required>
                                    <span style="color:red" ng-show="loginForm.email.$dirty && loginForm.email.$invalid">
                                          <span ng-show="loginForm.email.$error.required">Email is required.</span>
                                          <span ng-show="loginForm.email.$error.email">Invalid email address.</span>
                                          </span>
                                  </div>
                            </div>
                            <div class="row">
                                <div class="input-field col ">
                                    <input id="serverpassword" type="password" class="password" name="serverpassword" ng-model='loginData.serverpassword' placeholder="Server Password" minlength="3"  required>
                                    <span style="color:red" ng-show="loginForm.serverpassword.$dirty && loginForm.serverpassword.$invalid">
                                          <span ng-show="loginForm.serverpassword.$error.required">Server Password is required.</span>
                                          </span> 
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col ">
                                    <button class="button button-block  waves-effect waves-light" type="submit" name="action" ng-disabled="loginForm.serverHost.$dirty && loginForm.serverHost.$invalid ||
                                     loginForm.serverpassword.$dirty && loginForm.serverpassword.$invalid ||
                                    loginForm.email.$dirty && loginForm.email.$invalid" ng-click="doLogin(loginData)">LOGIN
                                    </button>
                                </div>
                              </div>
                        </form>
                        
                    </div>
                </div>
                </ion-content>
            </div>      
        </div>
      </div>
        
          <div class="RecencyForm">
          <ion-content class="animate-fade-slide-in"  ng-hide="showauth">
                  
                <ion-list type="list-inset"  >
                    <h3 style="font-size:17px"> Recency Reporting With VL</h3>
                       <div class="loginFields">  
                    <div class="row">
                                <div class="input-field col col-90">
                                      <span class="input-label item-stacked-label" style="margin-bottom: -30px;">
                                              <p>From :</p>
                                          </span>
                                    <div class="form-logo date-img"><img src="img/date.png"></div> 
                                    <input id="fromVlDate" type="text" class="fromVlDate" name="fromVlDate" title="Please Enter From Date"  ng-click="setFromVlDate();" ng-model='fromVlDate' placeholder="From Date" readonly required>
                                </div>
                                <div class="input-field col " style="padding:0">
                                  <div class="form-logo date-img" style="padding-left: 0;cursor:pointer;" ng-click="clearfromVlDate()"><img src="img/clear.png" style="height: 26px;"></div> 
                                 </div>
                   </div>
                   <div class="row">
                        <div class="input-field col col-90">
                              <span class="input-label item-stacked-label" style="margin-bottom: -30px;">
                                      <p>To :</p>
                                  </span>
                            <div class="form-logo date-img"><img src="img/date.png"></div> 
                            <input id="toVlDate" type="text" class="toVlDate" name="toVlDate" title="Please Enter To Date"  ng-click="settoVlDate();" ng-model='toVlDate' placeholder="To Date" readonly required>
                        </div>
                        <div class="input-field col " style="padding:0">
                          <div class="form-logo date-img" style="padding-left: 0;cursor:pointer;" ng-click="cleartoVlDate()"><img src="img/clear.png" style="height: 26px;"></div> 
                         </div>
                    </div>
                </div>   
                <p ng-show="displayVlCount">Total RITA Recent Records for the Selected Date Range : {{recencyVlCount}} 
                </p>
                <div style="overflow-x:auto;margin-bottom: 30px;" class="">
      
                          
                <table class="table table-bordered table-striped order-table" style="width: 100%" id="ordertable">
                  <tr style="white-space: nowrap">
                    <th style="text-align: center"  ng-click="sortByDate('hiv_recency_date')">Date Of Testing
                          <span class="sortorder" ng-show="propertyName === 'hiv_recency_date'" ng-class="{reverse: reverse}"></span>
                    </th>
                    <th style="text-align: center" ng-click="sortBy('sample_id','hiv_recency_date')">Sample ID
                        <span class="sortorder" ng-show="propertyName === 'sample_id'" ng-class="{reverse: reverse}"></span>
    
                    </th>
                    <th style="text-align: center" ng-click="sortBy('term_outcome','hiv_recency_date')">Assay Test Result
                        <span class="sortorder" ng-show="propertyName === 'term_outcome'" ng-class="{reverse: reverse}"></span>
                    </th>
                    <th style="text-align: center" ng-click="sortBy('final_outcome','hiv_recency_date')">Final Result
                        <span class="sortorder" ng-show="propertyName === 'final_outcome'" ng-class="{reverse: reverse}"></span>
                    </th>
                    <th style="text-align: center" ng-click="sortBy('facility_name','hiv_recency_date')">Facility Name
                        <span class="sortorder" ng-show="propertyName === 'facility_name'" ng-class="{reverse: reverse}"></span>
                    </th>
                    <th style="text-align: center" ng-click="sortBy('vl_result','hiv_recency_date')">VL Result
                        <span class="sortorder" ng-show="propertyName === 'vl_result'" ng-class="{reverse: reverse}"></span>
                    </th>
                    <th style="text-align: center"  ng-click="sortByDate('vl_test_date','hiv_recency_date')">VL Test Date
                        <span class="sortorder" ng-show="propertyName === 'vl_test_date'" ng-class="{reverse: reverse}"></span>
                    </th>
                   
                  </tr>
                  <tr ng-repeat="recency in recencyVlDatas | orderBy:'hiv_recency_date' | orderBy:propertyName:reverse " >
                        <td style="text-align: center">{{ recency['hiv_recency_date'] | date: "dd-MMM-yyyy" }}</td>                    
                    
                    <td style="text-align: center">{{ recency['sample_id']}}</td>                   
                    <td style="text-align: center"> 
                        <p style="color:red"  ng-if="recency['term_outcome']!='Long Term' && recency['term_outcome']!='Assay Recent'">{{recency['term_outcome']}}</p>
                        <p ng-if="recency['term_outcome']=='Long Term' || recency['term_outcome']=='Assay Recent'">{{recency['term_outcome']}}</p>
                    </td>
                    <td style="text-align: center">{{ recency['final_outcome']}}</td>
    
                    <td style="text-align: center;white-space: nowrap;">{{ recency['facility_name'] }}</td>
                    <td style="text-align: center;">{{ recency['vl_result'] }}</td>
                    <td style="text-align: center">{{ recency['vl_test_date'] | date: "dd-MMM-yyyy" }}</td>                    
                  </tr>
                  
                  <tr ng-show="displaymessage">
                    <td colspan="7" style="text-align: center;margin: 10px;" >No Records Found.</td>
    
                  </tr>
                </table>
              </div>
             </ion-list>
              </ion-content>
              </div>
    </ion-view>
    
    
         
         
    