<ion-view view-title="Server Recency Data" >
    <div class="backgroundimg" ng-show="showauth" >
        <div class="authWrapper">
            <div class="container" >
              <ion-content >
                <div class="logo"> <img src="img/icon.png" alt=""></div>
                <div class="loginFields">
                    <div class="row">
                      <form class="col loginForm" name="loginForm" >
                   
                            <div class="row">
                                <div class="input-field col ">
                                    <input id="email" type="email" name ="email" class="userName" ng-model='loginData.email' placeholder="abc@deforay.com" required>
                                    <span style="color:red" ng-show="loginForm.email.$dirty && loginForm.email.$invalid">
                                          <span ng-show="loginForm.email.$error.required">Email is required.</span>
                                          <span ng-show="loginForm.email.$error.email">Invalid email address.</span>
                                          </span>
                                  </div>
                            </div>
                            <div class="row">
                                <div class="input-field col ">
                                    <input id="serverpassword" type="password" class="password" name="serverpassword" ng-model='loginData.serverpassword' placeholder="Server Password" minlength="3" maxlength="10" required>
                                    <span style="color:red" ng-show="loginForm.serverpassword.$dirty && loginForm.serverpassword.$invalid">
                                          <span ng-show="loginForm.serverpassword.$error.required">Server Password is required.</span>
                                          </span> 
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col ">
                                    <button class="button button-block  waves-effect waves-light" type="submit" name="action" ng-disabled="loginForm.serverHost.$dirty && loginForm.serverHost.$invalid ||
                                     loginForm.serverpassword.$dirty && loginForm.serverpassword.$invalid ||
                                    loginForm.email.$dirty && loginForm.email.$invalid" ng-click="doLogin(loginData)">LOGIN
                                    </button>
                                </div>
                              </div>
                        </form>
                        
                    </div>
                </div>
                </ion-content>
            </div>      
        </div>
      </div>
      <ion-content class="animate-fade-slide-in"  ng-hide="showauth">
            <!-- <div class="recency-view">
               <div class="item card-item" style="border:none" >   
                  <a class="card stable-bg ink ink-dark">
                     <div class="table-header">
                        <span style="float: left ">Patient Details</span>
                     </div>
                    <div class="item item-text-wrap" style="border: 1px solid #e4e4e4;">
                      Recency Details
                    </div>
                  </a>
                </div>
                <div class="item card-item" style="border:none" >   
                    <a class="card stable-bg ink ink-dark">
                       <div class="table-header">
                          <span style="float: left ">Other Details</span>
                       </div>
                      <div class="item item-text-wrap" style="border: 1px solid #e4e4e4;">
                        Recency Details
                      </div>
                    </a>
                </div>
            </div> -->

            <ion-list type="list-inset"  ng-hide="showauth">
                <h3 style="font-size:17px"> Recency Reporting</h3>
              <div style="overflow-x:auto;margin-bottom: 30px;">
            <table class="table table-bordered table-striped order-table" style="width: 100%" id="ordertable">
              <tr style="white-space: nowrap">
                <th>Sample ID / Patient ID</th>
                <th style="text-align: center">Facility</th>
                <th>HIV+ Diag Date</th>
                <!-- <th>HIV+ Rec Result</th> -->
              </tr>
              <tr ng-repeat="recency in recencyDatas " >
                <td class="orderid">
                <p>{{ recency['sample_id'] }} </p> 
                <p>
                  {{ recency['patient_id'] }}</p>
               </td>

                <td>{{ recency['facility_name'] }}</td>
                <td>{{ recency['hiv_diagnosis_date'] | date: "dd-MM-yyyy" }}</td>
                <!-- <td >{{ recency['hiv_recency_result'] }}</td> -->
              </tr>
              
              
            </table>
          </div>
         </ion-list>
          </ion-content>
</ion-view>


     
     
