<ion-view view-title="Server QC Data" >


      <ion-content class="animate-fade-slide-in"  >

            <ion-list type="list-inset"  >
                <h3 style="font-size:17px"> QC Testing</h3>
              <div style="overflow-x:auto;margin-bottom: 30px;">
            <table class="table table-bordered table-striped order-table" style="width: 100%" id="ordertable">
              <tr style="white-space: nowrap">
                <th style="text-align: center" ng-click="sortByDate('qc_test_date')">QC Date
                    <span class="sortorder" ng-show="propertyName === 'qc_test_date'" ng-class="{reverse: reverse}"></span>
                </th>
                <th style="text-align: center" ng-click="sortBy('reference_result','qc_test_date')">Assay Recent
                    <span class="sortorder" ng-show="propertyName === 'reference_result'" ng-class="{reverse: reverse}"></span>
                </th>
                <!-- <th>Final Test Result</th> -->
                <th style="text-align: center" ng-click="sortBy('tester_name','qc_test_date')">Tester Name
                    <span class="sortorder" ng-show="propertyName === 'tester_name'" ng-class="{reverse: reverse}"></span>
                </th>
              </tr>
              <tr ng-repeat="recency in lastQCDatas | orderBy:'qc_test_date' | orderBy:propertyName:reverse  " >
                <td style="text-align: center">{{ recency['qc_test_date']| date: "dd-MMM-yyyy"}}</td>
             
                <!-- <td> 
                  <p style="color:red"  ng-if="recency['term_outcome']!='Long Term' && recency['term_outcome']!='Assay Recent'">{{recency['term_outcome']}}</p>
                  <p ng-if="recency['term_outcome']=='Long Term' || recency['term_outcome']=='Assay Recent'">{{recency['term_outcome']}}</p>
                </td> -->
                <!-- <td style="text-transform: capitalize;">{{recency['reference_result']  | replace: '_':' '}}</td> -->
      
                <td style="text-transform: capitalize;text-align: center">{{ recency['reference_result'] | replace: '_':' ' }}</td>
                <td style="text-align: center">{{ recency['tester_name'] }}</td>
               
               
              </tr>
              <tr ng-show="displaymessage">
                <td colspan="3" style="text-align: center;margin: 10px;" >No Records Found.</td>

              </tr>
              
            </table>
          </div>
         </ion-list>
          </ion-content>
</ion-view>


     
     
