<ion-view view-title="Technical Support">
    <ion-content class="animate-fade-slide-in">
            <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>

        <div class="card">
<!-- 
         <div class="table-header">
            <span style="text-align: center;width: 100%;float: left; ">Technical Support</span>
          </div> -->
         <table class="table  tech-table" style="width: 100%">
            <tbody ng-repeat="tech in filtered = (techSupportData)">
            <tr ng-if="tech.global_name=='technical_support_name'">
              <td>
                <div>
                  <span style="margin: 0 10px;"><img style="height: 24px;margin-bottom: -8px;" src="img/tech-support-name.png"></span>
                  <span>Technical Support Name  :</span>
                </div>
              </td>     
            </tr>
            <tr ng-if="tech.global_name=='technical_support_name'">
              <td style="text-transform: capitalize;text-align:left;padding-left: 55px;">{{tech.global_value}}</td>       
            </tr>
            <tr ng-if="tech.global_name=='admin_email'">
              <td>
                <div>
                  <span style="margin: 0 10px;"><img style="height: 24px;margin-bottom: -8px;" src="img/envelope.png"></span>
                  <span>Technical Support Email :</span>
                </div>
              </td>
            </tr>
            <tr ng-if="tech.global_name=='admin_email'">
              <td style="text-align:left;padding-left: 55px;"><a href="mailto:{{tech.global_value}}">{{tech.global_value}}</a></td>       
            </tr>
            <tr ng-if="tech.global_name=='admin_phone'">
              <td>
                <div>
                  <span style="margin: 0 10px;"><img style="height: 24px;margin-bottom: -8px;" src="img/call.png"></span>
                  <span>Technical Support Phone :</span>
                </div>
              </td>     
            </tr>
            <tr ng-if="tech.global_name=='admin_phone'">                  
              <td style="text-align:left;padding-left: 55px;"><a ng-href="tel:{{tech.global_value}}">{{tech.global_value}}</a></td>       
            </tr>
        </tbody>
        </table>
        <!-- <table class="table  tech-table" style="width: 100%" >
            <tr>
                <td>
                    <div>
                      <span style="margin: 0 10px;"><img style="height: 24px;margin-bottom: -8px;" src="img/tech-support-name.png"></span>
                      <span>Technical Support Name  :</span>
                    </div>
                </td>     
                <td style="text-transform: capitalize;text-align:right;padding-right: 15px;">Sathish Kumar</td> 
            </tr>
            <tr>
                <td>
                    <div>
                      <span style="margin: 0 10px;"><img style="height: 24px;margin-bottom: -8px;" src="img/envelope.png"></span>
                      <span>Technical Support Email :</span>
                    </div>
                </td>
                <td style="text-align:right;padding-right: 15px;">admin@gmail.com</td>
            </tr>
            <tr>
                <td>
                    <div>
                      <span style="margin: 0 10px;"><img style="height: 24px;margin-bottom: -8px;" src="img/call.png"></span>
                      <span>Technical Support Phone :</span>
                    </div>
                </td>     
                <td style="text-align:right;padding-right: 15px;">99999999999</td>
            </tr>
            <tr ng-show="displaymessage">
              <td colspan="3" style="text-align: center;margin: 10px;" >No Records Found.</td>
            </tr>            
        </table> -->
    </div> 

          <!-- <div class="card" style="border:none;padding-top: 0; padding-bottom: 0;">  
            <a class=" stable-bg ink ink-dark">
                <div class="table-header">
                  <span style="float: left ">Recency Test</span>
                </div>
                <div class="item item-text-wrap" style="border: 1px solid #e4e4e4;">
                  <p><b>Sample ID :</b>&nbsp;&nbsp;&nbsp; {{recency.sampleId}} </p>
                  <p><b>Patient ID :</b>&nbsp;&nbsp;&nbsp; {{recency.patientId}}</p>
                  <p  ng-if="recency.facility_name!='Other'" ><b>Facility :</b>&nbsp;&nbsp;&nbsp; {{recency.facility_name}}</p>
                  <p  ng-if="recency.facility_name=='Other'" ><b>Facility :</b>&nbsp;&nbsp;&nbsp; {{recency.otherfacility}}</p>
    
                  <p><b>HIV+ Rec. Date :</b>&nbsp;&nbsp;&nbsp; {{recency.hivRecencyDate}}</p>
                  <p style="text-transform: capitalize"><b>Control Line :</b>&nbsp;&nbsp;&nbsp; {{recency.ctrlLineName }}  </p>
                  <p style="text-transform: capitalize"><b>Positive Verification Line :</b>&nbsp;&nbsp;&nbsp; {{recency.positiveLineName }}  </p>
                  <p style="text-transform: capitalize"><b>Long Term Verification Line :</b>&nbsp;&nbsp;&nbsp; {{recency.longTermLineName }}  </p>
                 </div>
            </a>
          </div>  -->
    </ion-content>
  </ion-view>
  