
<ion-view view-title="Local Recency Data {{recencyUnsyncCount}}">


  <ion-content class="animate-fade-slide-in" >
      <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
     
    <div class="recency-view" style="margin-bottom:45px">
     <div class="card" style="border:none;padding-top: 0; padding-bottom: 0;" ng-repeat="recency in filtered = (recencyList)  ">  
        <a ng-click="viewRecency(recency,$index)" class=" stable-bg ink ink-dark">
            <div class="table-header">
              <span style="float: left ">Recency Test</span>
            </div>
            <div class="item item-text-wrap" style="border: 1px solid #e4e4e4;">
              <p><b>Sample ID :</b>&nbsp;&nbsp;&nbsp; {{recency.sampleId}} </p>
              <p><b>Patient ID :</b>&nbsp;&nbsp;&nbsp; {{recency.patientId}}</p>
              <p  ng-if="recency.facility_name!='Other'" ><b>Facility :</b>&nbsp;&nbsp;&nbsp; {{recency.facility_name}}</p>
              <p  ng-if="recency.facility_name=='Other'" ><b>Facility :</b>&nbsp;&nbsp;&nbsp; {{recency.otherfacility}}</p>

              <div ng-if="recency.testNotPerformed==true">
                <p><b>Recency Test not Performed :</b>&nbsp;&nbsp;&nbsp; Yes</p>
                <p ng-if="recency.recencyreason!='other'"> <b>Reason of Rec.Test not Performed :</b>&nbsp;&nbsp;&nbsp; {{recency.recencyreasonName}}</p>
                <p ng-if="recency.recencyreason=='other'"><b>Reason of Rec.Test not Performed :</b>&nbsp;&nbsp;&nbsp; {{recency.otherreason}}</p>
             

              </div>

              <div ng-if="recency.testNotPerformed!=true">
              <p><b>HIV+ Rec. Date :</b>&nbsp;&nbsp;&nbsp; {{recency.hivRecencyDate}}</p>
              <p style="text-transform: capitalize"><b>Control Line :</b>&nbsp;&nbsp;&nbsp; {{recency.ctrlLineName }}  </p>
              <p style="text-transform: capitalize"><b>Positive Verification Line :</b>&nbsp;&nbsp;&nbsp; {{recency.positiveLineName }}  </p>
              <p style="text-transform: capitalize"><b>Long Term Verification Line :</b>&nbsp;&nbsp;&nbsp; {{recency.longTermLineName }}  </p>
            </div>
             </div>
        </a>
      </div>
      <p style="text-align: center;margin: 10px;" ng-show="displaymessage">No Records Found. Total {{syncCount}} records have been synced with the server.</p>
    </div>
    
  </ion-content>

  <div class="bar bar-footer bar-positive" style="padding: 0;">
      <button class="button button-block  waves-effect waves-light sync-button" type="submit" style="margin:0;border:none;"  ng-click="syncnow()">
          <p style="margin-bottom: 0">SYNC NOW </p>
      </button>
  </div> 
</ion-view>
