<ion-view view-title="View Recency Detail">
  <ion-content class="animate-fade-slide-in">
    <div class="recency-view">
       <div class="item card-item" style="border:none" >   
          <a class="card stable-bg ink ink-dark">
             <div class="table-header">
                <span style="float: left ">Patient Details</span>
             </div>
            <div class="item item-text-wrap" style="border: 1px solid #e4e4e4;">
              Recency Details
            </div>
          </a>
        </div>
        <div class="item card-item" style="border:none" >   
            <a class="card stable-bg ink ink-dark">
               <div class="table-header">
                  <span style="float: left ">Other Details</span>
               </div>
              <div class="item item-text-wrap" style="border: 1px solid #e4e4e4;">
                Recency Details
              </div>
            </a>
        </div>
    </div>
  </ion-content>
</ion-view>
