
/* [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate) {
    display: none !important;
} */
  /* transition: display 0s;
  -webkit-transition: display 0s;
  -moz-transition: display 0s;
  -ms-transition: display 0s;
  -o-transition: display 0s; */
.bar.bar-stable {
    border-color: #25c0fb; 
    background-color: #387ef5;
    background-image: linear-gradient(0deg, #b2b2b2, #b2b2b2 50%, transparent 50%);
    
}
.bar.bar-stable .title,.bar-stable .button.button-clear {
    color: #fafafa;
    font-weight: 600;
    font-size: 17px;
}
.col.addRecency .row {
    margin-left: 0;
     margin-right: 0;
     margin-bottom: 0;
}
/* Table css */
table th{
    background-color: #10559a !important;
color: #fff;
border-radius: 0;

}
table {
    max-width: 100%;
    background-color: transparent;
    border: 1px solid #ddd;
}
.table-bordered {
    border: 1px solid #ddd;
}
table p{
    margin-bottom: 0;
}
table th,table td{
    border: 1px solid #ddd;
    padding: 10px 4px;
}
/* Empty. Add your own CSS if you like */
.popup-title {
    font-size: 14px !important;
    color: #ce2522 !important;
}
.popup-head {
    border-bottom: 1px solid #ccc !important;
}
.popup-buttons  .button{
    font-size:14px;
}
.item-icon-right .icon {

    color: #fafafa !important;
    font-weight: bolder !important;
    cursor: pointer;
    font-size: 26px !important;
}
/* .popup-container.popup-showing {
    background-color: #fafafaec !important;
} */
/* .popup-container .popup{
    background-color:     #8c909421;

} */

.backdrop{
    z-index: 11;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.4);

}
.item-complex .item-content, .item-radio .item-content {
    padding: 10px 50px 10px 20px;
    background-color: #fbfbfb;
}
.prospectlist.item-complex .item-content, .item-radio .item-content {
    padding: 5px 50px 5px 20px;
    background-color: #fbfbfb;
}

.button-primary.button.activated {
    background-color: #0d59da;
}

.item{
    font-size: 14px;
}
.profile{
    top: -80px;
    left: 50px;
}
.profile .app-icon{
    width: 100px;height: 100px;
}
.bar .title{
    font-size: 14px;
    /*line-height: 55px;*/
}

.platform-android .bar .title {
    line-height: 44px;
}

.header-bar{
	border-color: #2b5e5e;
    /*background-color:#336666;*/
    background-color: #0B8C3C;
    color: #fff !important;
}
.header-bar .button.button-clear{
	border-color: transparent;
    background: 0 0;
    box-shadow: none;
    color: #fff;
    font-size: 17px;
}
/* .button {
    background-color: #0b8c3c;
    color: #fafafa !important;
} */
.button.button-positive{
    background-color: #3781a5;
    color: #fafafa !important;
}
.button.btn.activated, .button.btn.active{
	border-color: #2b5e5e;
    background-color: #0B8C3C;
    box-shadow: inset 0 1px 4px rgba(0,0,0,.1);
}
.button.button-calm.activated{
    background-color: #0a9dc7;
    border-color:#11c1f3;
}
.btn{
    /* border-color: #2b5e5e;
    background-color:#336666; */
    border-color: #8BC34A;
    background-color: #0b8c3c;
    color: #fff !important;
}
a{
    text-decoration:none;
}
.scroll {
  height: 100%;
}

/*Autocomplete*/

ul.ui-autocomplete{
    overflow-x: scroll;
    max-height: 200px;
}

/* Modal Animation*/
.slide-in-left {
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  
  .slide-in-left.ng-enter, .slide-in-left > .ng-enter {
    -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
    -moz-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
    -o-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
    -ms-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
    transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms; 
  }
  
  .slide-in-left.ng-enter-active, .slide-in-left > .ng-enter-active {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  
  .slide-in-left.ng-leave, .slide-in-left > .ng-leave {
    -webkit-transition: all ease-in-out 250ms;
    -moz-transition: all ease-in-out 250ms;
    -o-transition: all ease-in-out 250ms;
    -ms-transition: all ease-in-out 250ms;
    transition: all ease-in-out 250ms; 
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }

    /* Login CSS */

.backgroundimg {
    background: url(../img/banner-tab-rtri.png) no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;

    background-position: top;
    background-repeat: no-repeat;
    background-size: 190%;


    /* background: white;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 1;
        background-size: 100% 100%;
        background-position: center !important;
        background: url(../img/banner-tab-rtri.png);
        background-repeat: no-repeat;
        -ms-background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover; 
        -ms-background-size: cover;
        background-position-y: 90%; */
}

.authWrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: auto;
    /* background: #222;
    opacity: 0.7; */
}

.authWrapper .logo {
    text-align: center;
    /* margin-top: 25%; */
}

.authWrapper .logo img {
    max-height: 100px;
}
.loginForm{
    padding: 5px 15px;
}
.authWrapper .input-field {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
}

.authWrapper .input-field .mobileNumber {
    background: url(../img/mobile_white.png) no-repeat left center #fafafa; 
  
    border-color: rgba(0, 0, 0, 0.12);
    border-bottom: 1px solid #fff !important;
  padding: 7px 10px 7px 50px; 
    color: #FFF;
    width: 100%;
    box-sizing: border-box;
    box-shadow: none !important;
 
}

.authWrapper .input-field .serverHost {
    background: url(../img/host.png) no-repeat left center #fafafa;
      border-color: rgba(0, 0, 0, 0.12);
      border-bottom: 1px solid #fff !important;
   padding: 7px 10px 7px 50px;
      width: 100%;
      box-sizing: border-box;
      box-shadow: none !important;
  }
.authWrapper .input-field .userName {
  background: url(../img/address.png) no-repeat left center #fafafa;
    border-color: rgba(0, 0, 0, 0.12);
    border-bottom: 1px solid #fff !important;
 padding: 7px 10px 7px 50px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: none !important;
}

.authWrapper .input-field .password,
.authWrapper .input-field .confirmpassword,
.authWrapper .input-field .Oldpassword,
.authWrapper .input-field .Newpassword ,
.authWrapper .input-field .onetimePass {
   background: url(../img/key.png) no-repeat left center #fafafa; 

    border-color: rgba(0, 0, 0, 0.12);
    border-bottom: 1px solid #fff !important;
    padding: 7px 10px 7px 50px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: none !important;
} 

.authWrapper .loginFields {
    margin-top: 230px;
}

.authWrapper .input-field .mobileNumber{
     border-bottom: 1px solid #000 !important;
    color: #000 !important;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background: rgba(255, 255, 255, 0.5);
    padding: 7px 10px 7px 50px !important
}

.authWrapper .input-field .userName,
.authWrapper .input-field .userName:focus {
    border-bottom: 1px solid #000 !important;
    color: #000 !important;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    /* background: rgba(255, 255, 255, 0.5); */
    padding: 7px 10px 7px 50px !important 
}
.authWrapper .input-field .serverHost,
.authWrapper .input-field .serverHost:focus {
    border-bottom: 1px solid #000 !important;
    color: #000 !important;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    /* background: rgba(255, 255, 255, 0.5); */
    padding: 7px 10px 7px 50px !important 
}
.focused {
    margin-top:150px !important;
}
/* fieldset:focus-within legend {
    opacity: 1;
  } */
.authWrapper .input-field .password,
.authWrapper .input-field .confirmpassword,
.authWrapper .input-field .Oldpassword,
.authWrapper .input-field .Newpassword ,
.authWrapper .input-field .onetimePass,
.authWrapper .input-field .confirmpassword:focus,
.authWrapper .input-field .Oldpassword:focus,
.authWrapper .input-field .Newpassword:focus,
.authWrapper .input-field .onetimePass:focus {
    border-bottom: 1px solid #000 !important;
    color: #000 !important;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    width: 100%;
    /* background: rgba(255, 255, 255, 0.5); */
    padding: 7px 10px 7px 50px !important 
}

.authWrapper .input-field .password input,
.authWrapper .input-field .confirmpassword input,
.authWrapper .input-field .Oldpassword input,
.authWrapper .input-field .Newpassword input,
.authWrapper .input-field .onetimePass input
input::-webkit-input-placeholder {
    font-size: 15px;
    line-height: 3;
}

.authWrapper .loginFields .row {
    margin: 0;
}

.authWrapper .loginFields span{
    color: #000;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.authWrapper .input-field .firstName:focus,
.authWrapper .input-field .lastName:focus {
background: url(../img/user.png) no-repeat left center rgba(255, 255, 255, 0.5) 
}

.authWrapper .input-field .userName:focus {
 background: url(../img/address.png) no-repeat left center rgba(255, 255, 255, 0.5) 
}
.authWrapper .input-field .serverHost:focus {
    background: url(../img/host.png) no-repeat left center rgba(255, 255, 255, 0.5) 
   }
.authWrapper .input-field .mobileNumber:focus {
    background-size: 32px;
    background: url(../img/mobile.png) no-repeat left center rgba(255, 255, 255, 0.5)
}

.authWrapper .input-field .password:focus,
.authWrapper .input-field .confirmpassword:focus,
.authWrapper .input-field .Oldpassword:focus,
.authWrapper .input-field .Newpassword:focus,
.authWrapper .input-field .onetimePass:focus {
    background: url(../img/key.png) no-repeat left center rgba(255, 255, 255, 0.5)
}


.authWrapper .loginFields .input-field button ,.addRecency .submitbtn button {
   background-color: #bd1806 !important;
    color: #fff !important;
  /*   margin: 25px 0 !important; */
    font-weight: 300;
    letter-spacing: -0.5px;
    border-radius: 0;
    width: 100%;
}

.authWrapper .loginFields .input-field button:hover,.addRecency .submitbtn button:hover {
    background: #0d59da !important;
    color: #fff !important;
}

.authWrapper .oAuth .row {
    margin: 70px 10px 0 10px !important;
}

.authWrapper .oAuth .row .col .forgot-head {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
      font-weight: 400;
    letter-spacing: -0.5px;
}

.authWrapper .oAuth .socialMedia {
    height: 35px;
    border-right: 1px solid #FFF;
}

.authWrapper .oAuth .faceBook {
    background: #3E6CC5;
    margin: 0;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: -0.5px;
    border-radius: 0;
    width: 100%;
}

.authWrapper .oAuth .faceBook:hover {
    background: #3E6CC5;
}

.authWrapper .oAuth .google,
.authWrapper .oAuth .forgotpswd {
    background: #D85543;
    margin: 0;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: -0.5px;
    border-radius: 0;
    width: 100%;
}

.authWrapper .oAuth .google:hover,
.authWrapper .oAuth .forgotpswd:hover {
    background: #D85543;
}

.authWrapper .otherBtn .signUp {
    background: transparent;
    margin: 0;
    font-weight: 300;
    letter-spacing: -0.5px;
    border-radius: 0;
    width: 100%;
}

.authWrapper .otherBtn .signUp:hover {
    background: transparent;
}

.authWrapper .otherBtn .signUp:focus {
    background: transparent;
}

.authWrapper .forgotPassword {
    width: 100%;
    text-align: center;
}

.authWrapper .forgotPassword a {
 color: #9e9e9e;
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
    font-weight: 500;
}
.modal.datepicker-modal{
    min-height: auto;
}
.datepicker-controls .select-month input {
    width: 100px;
}



/* Recency Form */

.recency-tab{
    padding:0px;
    margin-top: 39px;
    margin-bottom: 0px; 
   
    background: #3592f0;
}
.recency-tab .recency-head{
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    /* background: #c5c5c5; */
    background: #e8e8e8;
    color: #3592f0;
   
    cursor: pointer;
    line-height: 40px;
    min-height:50px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 13px;
    height: 38px;
    text-align: center;
    border: none;
    box-shadow: none;
}
.recency-tab .button.col.recency-head.active
{
    /* -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0 10px  rgba(0,0,0,0.3); */
    box-shadow: 3px -1px 13px #3592f0;
    background: #3592f0;
    color: #fafafa;
    /* border-bottom: 4px solid#1969a7; */
}
.recency-tab .tickMark {
    margin-left: 15px;
}
.recency-tab .tickMark .icon::before{
    /* font-size: 16px; */
    font-size: 18px;
    color:#41de6e;
}
.RecencyForm{
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: auto;
}
.RecencyForm .row,
.QCForm .row
{
 margin-bottom: 0 !important;
}  
.RecencyForm .row .input-field,
.QCForm .row .input-field
{
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}   
/* .RecencyForm .row .toggle-field .toggle{
    border: 1px solid #ddd ! important;
    border-radius: 6px;
    display: block;
    padding: 20px 0px 0px 62px;
    color: #333 !important;
    width: 100%;
    height: 3.2rem;
    box-sizing: border-box;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 13px;
    font-weight: 400;
    background-color: white !important;
} */
.RecencyForm .row  .toggle-div{
    width: 100%;
    border: 1px solid #ddd !important;
height: 100%;
    margin: 6px 4px 0 4px;
    border-radius: 6px;
}
.RecencyForm .input-field  input,
.RecencyForm .input-field select,
.RecencyForm .input-field .item-checkbox,
.RecencyForm .input-field  textarea,
.QCForm .input-field  input,
.QCForm .input-field select,
.QCForm .input-field .item-checkbox,
.QCForm .input-field  textarea{
    border: 1px solid #ddd ! important;
    border-radius: 6px;
    display: block;
    padding: 20px 0px 0px 62px;
    color: #333 !important;
    width: 100%;
    height: 3.2rem;
    box-sizing: border-box;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 13px;
    font-weight: 400;
    background-color: white ;
}
.RecencyForm .input-field  select:focus,
.QCForm .input-field  select:focus
{
    box-shadow: 0 1px 0 0 #26a69a;
    border-radius: 6px;
    outline: 0;

}
.RecencyForm  .input-field button ,.recency-view .editbtn, 
.QCForm  .input-field button ,.recency-view .editbtn 
{
    background-color: #FF6400 !important;
    color: #fff !important;
    margin-bottom: 60px;
    font-weight: 300;
    letter-spacing: -0.5px;
    border-radius: 0;
    width: 100%;
}
.RecencyForm .input-field .input-label p,
.QCForm .input-field .input-label p
 {
    width: 100%;
    margin: 3px 0 0 15px;
    color: #000;
    font-weight: 600;
    font-size: 13px;
}
.RecencyForm .input-field .input-label,
.QCForm .input-field .input-label
{
  max-width: 300px;
  width: 100%;
  
}
.RecencyForm .input-field .form-logo,
.QCForm .input-field .form-logo
{
    padding-top: 25px;
    width: 30px;
    padding-left: 15px;
    z-index: 1000;
    position: absolute;
}
.RecencyForm .input-field .form-logo img,
.QCForm .input-field .form-logo img
{
    padding-top: 2px;
    height: 20px;
}
.RecencyForm .input-field .date-img img,
.QCForm .input-field .date-img img{
   
    height: 17px;
}
.RecencyForm .input-field .recency-radio label,
.QCForm .input-field .recency-radio label
{
    left: -10px;
    background: transparent;
    padding: 10px 10px 10px 60px;
    border: none;
}
.RecencyForm .radio-head .input-field.col,
.QCForm .radio-head .input-field.col
{
    float: left;
    width: auto;
}

.RecencyForm .radio-head,
.QCForm .radio-head
{
    width: 100%;
    margin-right: 10px;
    margin-left: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
}
.RecencyForm .radio-head p,
.QCForm .radio-head p
{
    margin: 0;
    padding-left: 15px;
    font-weight: 600;
}

input[readonly]#testKitExpDate ,
input[disabled]#vlTestDate,
input[disabled]#vlLoadResult ,
select[disabled]#vlLoadResultDropdown
{
    background-color: #efefef  !important;

}
#finalOutcome.red,#termOutcome.red{
    color:red
}
#finalOutcome.blue,#termOutcome.blue{
    color:blue
}
#finalOutcome.black,#termOutcome.black{
    color:black
}
.recency-view .sync-button{
    left: 15%;
    right: 15%;
    background-color: #3592f0 !important;
    color: #fff !important;
    margin-bottom: 60px;
    font-weight: 300;
    letter-spacing: -0.5px;
    border-radius: 0;
    width: 70%;
}

.button-float{
    background: red !important;
    color:white !important;
    z-index: 12 !important;
    position: absolute !important; 
    bottom: 10px !important;
    right: 10px !important;
    border-radius: 50% !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
    -webkit-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
    -webkit-transition: 0.2s linear !important;
    transition: 0.2s linear !important;
    -webkit-transition-property: -webkit-transform, all !important;
    transition-property: transform, all !important;
  
  }
  .bar.bar-stable {
    border-color: #3592f0
  }
  .button .icon::before, .button.icon::before,
  .button.icon-left::before, .button.icon-right::before{
    font-size: 18px;
  }

  /* Media Query For Form */


  @media only screen and (max-width: 400px)  {
  .RecencyForm  .input-field.savebtn button  {
   font-size: 12px;
  }
  }
  @media only screen and (min-width:801px) and (max-width:999px) and (min-height:501px) and (max-height:640px){

    .authWrapper .loginFields {
       
        margin-right:20%;
        margin-left: 20%;
    }
 }

@media only screen and (min-width:700px) and (max-height:767px){

    .authWrapper .loginFields {
        margin-top:220px;
        margin-right: 25%;
         margin-left: 25%;
     }
 }
 @media only screen and (min-height:1025px) and (max-height:1224px){
    .authWrapper .loginFields {
       margin-top: 400px !important;
        margin-right: 20%;
        margin-left: 20%;
    }
 }
 @media only screen and (min-height:1225px){
    .authWrapper .loginFields {
       margin-top: 580px !important;
        margin-right: 20%;
        margin-left: 20%;
    }
}

 @media only screen and (min-width:1500px) and (min-height:2000px) {
    .authWrapper .loginFields {
        margin-top: 600px;
         margin-right: 20%;
         margin-left: 20%;
     }  
     
}
   /* Media Query For Background  Landscape*/

   @media only screen and (min-height:320px) and (max-height:500px) and (min-width:480px) and (max-width:888px){

    .backgroundimg {
       
        background: url(../img/recency-bg-landscape.png) no-repeat center center #fafafa !important;
        background-size: cover;
        width: 100%;
        height: 100%;
        position: relative;
    }
    .authWrapper .loginFields {
        margin-top: 100px;
         margin-right: 20%;
         margin-left: 20%;
     }  
 
 }
 @media only screen and (min-height:501px) and (max-height:700px) and (min-width:889px) and (max-width:999px){

    .authWrapper .loginFields {
        margin-top: 200px !important;
         margin-right: 20%;
         margin-left: 20%;
     } 
     .backgroundimg {
       
        background: url(../img/recency-bg-landscape.png) no-repeat center center #fafafa !important;
        background-size: cover;
        width: 100%;
        height: 100%;
        position: relative;
    } 
 }
 @media only screen and (min-height:600px) and (max-height:700px) and (min-width:1024px) and (max-width:1279px){

    .authWrapper .loginFields {
        margin-top: 200px !important;
         margin-right: 20%;
         margin-left: 20%;
     }  
 }
   /* Media Query For Background  Potrait*/


 @media only screen and (min-height:800px){
  
    .authWrapper .loginFields {
       margin-top: 350px;
        margin-right: 15%;
        margin-left: 15%;
    }
    .backgroundimg {
       
        background: url(../img/recency-bg.png) no-repeat center center #fafafa !important;
        background-size: cover;
        width: 100%;
        height: 100%;
        position: relative;
    }
    .focused {
        margin-top:260px !important;
    }
 }
 @media only screen and (min-width:999px){

    .backgroundimg {
        background: url(../img/recency-bg.png) no-repeat center center #fafafa !important;
        background-size: cover;
        width: 100%;
        height: 100%;
        position: relative;
    }
    .authWrapper .loginFields {
       margin-top:340px;
        margin-right: 25%;
        margin-left: 25%;
    }
    .focused {
        margin-top:200px !important;
    }
    .authWrapper .passlock{
        margin-left: 20%; 
    margin-right: 20%;
    }
 }
 @media only screen and (min-width:501px) and (max-width:700px) and (min-height:889px) and (max-height:999px){

    .authWrapper .loginFields {
        margin-top: 350px ;
         margin-right: 20%;
         margin-left: 20%;
     } 
     .backgroundimg {
       
        background: url(../img/recency-bg.png) no-repeat center center #fafafa !important;
        background-size: cover;
        width: 100%;
        height: 100%;
        position: relative;
    } 
    .focused {
        margin-top:300px !important;
    }
 }
 @media only screen and (min-width:603px) and (max-width:700px) and (max-height:700px){

    .backgroundimg {
        /* background: url(../img/oldloginbanner.jpg) no-repeat center center #fafafa;    */
        background: url(../img/recency-bg-landscape.png) no-repeat center center #fafafa !important;
        background-size: cover;
        width: 100%;
        height: 100%;
        position: relative;
    }
    .authWrapper .loginFields {
         margin-right: 20%;
         margin-left: 20%;
     } 

 }
 @media only screen and (min-width:1025px) and (max-height:767px){
    .backgroundimg {
        /* background: url(../img/oldloginbanner.jpg) no-repeat center center #fafafa;    */
        background: url(../img/banner-tab-rtri.png) no-repeat center center #fafafa !important;
        background-size: cover;
        width: 100%;
        height: 100%;
        position: relative;
    }

    .authWrapper .loginFields {
       margin-top:250px;
        margin-right: 30%;
        margin-left: 30%;
    }
    .authWrapper .passlock{
        margin-left: 20%; 
    margin-right: 20%;
    }
 }



 @media only screen and (min-width:801px) and (max-width:1024px) and (min-height:801px)and (max-height:1024px){
    .backgroundimg {
        /* background: url(../img/oldloginbanner.jpg) no-repeat center center #fafafa;    */
        background: url(../img/banner-tab-rtri.png) no-repeat center center #fafafa !important;
        background-size: cover;
        width: 100%;
        height: 100%;
        position: relative;
    }

    .authWrapper .loginFields {
       margin-top:280px;
        margin-right: 25%;
        margin-left: 25%;
    }
    .authWrapper .passlock{
        margin-left: 20%; 
    margin-right: 20%;
    }
 }
 
 @media only screen and (min-width:600px) and (max-width:800px) and (min-height:768px) and(max-height:800px){

    .backgroundimg {
        /* background: url(../img/oldloginbanner.jpg) no-repeat center center #fafafa;    */
        background: url(../img/banner-tab-rtri.png) no-repeat center center #fafafa !important;
        background-size: cover;
        width: 100%;
        height: 100%;
        position: relative;
    }
    .authWrapper .loginFields {
       
        margin-right: 20%;
        margin-left: 20%;
    }
    .authWrapper .passlock{
        margin-left: 10%; 
    margin-right: 10%;
    }
 }

/* New Edition */

nav {
    background-color: #9737FC !important;
    height: 40px !important;
    line-height: 40px !important;

}

nav .brand-logo {
    font-size: 18px !important;
    font-weight: 500;
}

.authWrapper .nav-wrapper ul li .left-arrow {
    transform: rotate(270deg);
      cursor: pointer;
    margin-left: 20px;
}
.authWrapper .nav-wrapper ul .head-right{
    margin-right: 20px ;   margin-top: 4px;
        cursor: pointer;
}
.authWrapper .loginFields .account-head{
        text-align: center;
    color: #bdbdbd;
    font-size: 15px;
    font-weight: 100;
    font-family: roboto
}


/* Card CSS */
.item-text-wrap  th,
.item-text-wrap  td{
    border:none;
    padding: 4px 4px;
}
tbody tr:nth-child(odd) {
    background: #f1f1f0;
  }
.card .table-header {
    height: 35px;
    padding: 0;
    background-color: #10559a;
}
.card .table-header span{
    font-size: 15px;
    padding-top: 9px;
    color: #fafafa;
    padding-left: 7px;
    padding-right: 7px;
}
.sortorder:after {
    content: '\25b2';  
  }
  .sortorder.reverse:after {
    content: '\25bc';   
  }
.card {
    border-radius: 6px;
    padding-top: 0;
}


.bar.bar-stable.menu-header{
    background-size: auto !important;
    background-image: linear-gradient(to left top, #3d35f0, #0075ff, #009fff, #00c1ff, #06def2);
    background-color: #EDF4FE;
    /* background-image: linear-gradient(to left, #d9d7db, #d5c2e1, #d5abe4, #d891e3, #de74de); */
    height: 140px;
    border-color: #d4cae0;
}

.menucontent.has-header {
    top:140px ;
}


.menucontent ion-item {
    border-style: none;
}
.menucontent ion-item .item-content.activated{
    background-color: #e9e7ea;    /* -webkit-tap-highlight-color: transparent; */
    border-left: 4px solid #a25ab1;
}
.menucontent .parent-sub{
    padding:10px 10px 10px 20px;
    background: #fbfbfb;
}
.menucontent .item.active.item-stable.parent-sub{
    background-color: #e5e5e5 !important;
}
.menucontent .item.active.child-sub ,
.menucontent .child-sub.item.item-complex.active > .item-content{
    background-color: #dbeffe !important;
}
.menu-logo img{
    z-index: 100;
    /* height: 30px; */
    opacity: 0.7;
    /* border-radius: 50%; */
    top: 3%;
    left: 33%;
    height: 85px;
    position: absolute;
}



/* Pincode */
.center-vertical {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.center-vertical > * {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

.button-stretch {
    width: 100%;
}
.button.button-light {

    border-color: transparent;
    /* background-color: #000; */
    background-color: #727477;
    color: white;

}
.col-offset-15 {
    margin-left: 15%;
}
.passcode-tab{
    text-align: center;
    background: transparent;
    color: white;
}
.passcode-tab .passcode-col,
.passcode-tab .add-passcode-col,
.passcode-tab .view-passcode-col
{
    border-bottom: 1px solid #000 ;
    /* border-bottom: 1px solid white ; */
}
.passcode-tab .passcode-col.error,
.passcode-tab .add-passcode-col.error,
.passcode-tab .view-passcode-col.error
{
    border-bottom: 1px solid red !important;
}
.passcode-tab .passcode-col.valid,
.passcode-tab .add-passcode-col.valid,
.passcode-tab .view-passcode-col.valid
{
    border-bottom: 1px solid blue !important;
}


.autocomplete-items{
    overflow-x: scroll;

height: 100px;
}
  
  .autocomplete-items div {
    padding: 7px;
    padding-left: 20px;
    cursor: pointer;
    background-color: #4a4a4a1a; 
    border: 1px solid #d4d4d4; 
    border-top:none;
  }
  
  .autocomplete-items div:hover {
    /*when hovering an item:*/
   background-color: #b2d4f6;; 
  }
  
  .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important; 
    color: #ffffff; 
  }

  /*Tech Support Page*/
  .tech-table tr td{
    border:none !important;
  }